<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.interheart.stone.dao.entity.extmapper.cp.CpProjectProductExtMapper">
  <select id="findProjectProduct" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    SELECT
        product.id,
        product.name
    FROM
	    project_product AS project_product
	INNER JOIN product AS product ON project_product.product_id = product.id
    WHERE
      project_product.project_id = #{projectId}

  </select>
</mapper>